{% extends "base.html" %}
{% load static %}

{% block title %}{{ single_product.product_name }} - Engin Elektronik{% endblock %}
{% block description %}{{ single_product.product_name }} - {{ single_product.description | safe }}  {% endblock %}
{% block keywords %}{{ single_product.tags }}{% endblock %}

{% block content %}

<section class="section-content padding-y bg">
<div class="container">

	<ul class="breadcrumb" style="margin-top: -15px; margin-bottom: 5px;">
		<li><a href="{% url 'home' %}">Anasayfa&nbsp;</a></li>
		<li><a href="{{ categories.get_url }}">»&nbsp;{{ categories.category_name }} »&nbsp;</a></li>
		<li>{{ single_product.product_name }}</li>
	</ul>
	Eklendiği Tarih: {{ single_product.created_date }}
<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-5">

<article class="gallery-wrap">
	<div class="img-big-wrap mainImage">
<center>
	<img src="{{ single_product.images.url }}" alt="ürün resmi:{{single_product.product_name}}" style="height:360px;"></img>
	<a href="{{ single_product.images.url }}" target="_blank"><i class="fa-solid fa-magnifying-glass"></i> resmi büyütmek için tıkla</a>
</center>
	</div> <!-- img-big-wrap.// -->
</article> <!-- gallery-wrap .end// -->

<ul class="thumb">
	<li>
		<a href="{{ single_product.images.url }}" target="mainImage"><img src="{{ single_product.images.url }}" alt="Product Image"></a>
		{% for i in product_gallery %}
		<a href="{{i.image.url}}" target="mainImage"><img src="{{i.image.url}}" alt="Product Image_Small"></a>
		{% endfor %}
		</li>
	</ul>

		</aside>
		<main class="col-md-7 border-left">



<div class="row">
			<button class="btn btn-white rounded-circle" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" title="Ürün bilgisi" style="margin-left: 15px;">
				<i class="fa-solid fa-circle-info"></i>
			</button>
		<div class="collapse" id="collapseExample">
			<div class="card card-body" style="padding: 3px; margin: 3px; left: 3px;">
			Bilgi: Ürünlerimiz sağlam çalışır bir şekilde sunulmaktadır, stoklar günceldir.</div>
		</div>
</div>



			<form action="{% url 'add_cart' single_product.id  %}" method="POST">
				{% csrf_token %}
<article class="content-body">

<h2 class="title" style="margin-top: -10px;">{{ single_product.product_name }}</h2>

<div class="mb-3">
 <b>Marka:&nbsp;</b>{{ single_product.brand }}<br>
 <b>Durum:&nbsp;</b>{{ single_product.durum }}<br>
 <b>Stokta Kalan:&nbsp;</b>{{ single_product.stock }} Adet
</div>
<b>Bu ürün hakkında:</b>
{{ single_product.description | safe }}
	{% if single_product.stock <= 0 %}
	<h5 style="color: gray"><b>Sipariş için iletişime geçin</b></h5>
	{% else %}
	<var class="price h4">{{ single_product.price }} ₺</var>



		<hr>
		<button type="submit" class="btn  btn-primary"> <span class="text">&nbsp;Sepete Ekle</span> <i class="fas fa-shopping-cart"></i></button>
	  <br><span style="margin-left: 10%">veya</span><br>
		<a href="https://wa.me/905326442863" target="_blank"><button type="button" class="btn btn-success"><i class="fa fa-whatsapp"></i> Whatsapp Sipariş (05451973471)</button></a>
		{% endif %}

</article> <!-- product-info-aside .// -->
</form>
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

</div> <!-- container .//  -->

</section>

{% endblock %}
